{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form id="bug-form" method="post" action="{% url 'bugs:create' %}">
                {% csrf_token %}

                <fieldset class="form-group {% if form.title.errors %}has-error{% endif %}">
                    <label for="{{ form.title.id_for_label }}" class="control-label">
                        {{ form.title.label }}
                    </label>
                    {{ form.title }}
                    {{ form.title.errors }}
                </fieldset>

                <fieldset class="form-group {% if form.description.errors %}has-error{% endif %}">
                    <label for="{{ form.description.id_for_label }}" class="control-label">
                        {{ form.description.label }}
                    </label>
                    {{ form.description }}
                    {{ form.description.errors }}
                </fieldset>

                <fieldset class="form-group {% if form.state.errors %}has-error{% endif %}">
                    <label for="{{ form.state.id_for_label }}" class="control-label">
                        {{ form.state.label }}
                    </label>
                    {{ form.state }}
                    {{ form.state.errors }}
                </fieldset>

                <fieldset class="form-group {% if form.owner.errors %}has-error{% endif %}">
                    <label for="{{ form.owner.id_for_label }}" class="control-label">
                        {{ form.owner.label }}
                    </label>
                    {{ form.owner }}
                    {{ form.owner.errors }}
                </fieldset>

                <button type="submit" class="btn btn-block btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}