#header {
    margin: 20px 0;
}

#bug-form {
    margin-bottom: 50px;
}

.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    color: #d9534f;
    font-size: 0.8rem;
    list-style-type: none;
}